<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Pasing Data From Server To The Client</h1>

    <h1>
        <%=username%>
    </h1>
    <p>
        <%=email%>
    </p>
    <p>
        <%=isPremiumUser%>
    </p>
    <p>
        <%=age%>
    </p>
</body>

</html>